{% include  "master.html" %}

<!-- {% block title %}Daftar Univesitas{% endblock %} -->

{% block content %}
    <form method="POST" action="{% url 'insert_univ' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <p style="color: red;">{{ form.errors.url_univ.0 }}</p>
        {% endif %}
        <button type="submit">Simpan</button>
    </form>

    {% if success_message %}
        <script>
            alert("{{ success_message }}");
        </script>
    {% endif %}
{% endblock %}