{% include  "master.html" %}

<!-- {% block title %}Daftar Univesitas{% endblock %} -->
<title>Daftar Universitas</title>

{% block content %}
<div class="container">
    <h2 class="text-primary mt-5">Universitas Teknokrat Indonesia</h2>
    <table class="table table-striped" id="mytb">
    <thead>
        <tr>
            <th>Univesitas</th>
            <th>Link Website</th>
            <th>Total Sitasi</th> 
        </tr>
    </thead>
    <tbody>
        {% for x in univ %}
        <tr>
            <td><a href="{{x.id}}">{{x.nama_univ}}</a></td>
            <td><a href="https://{{x.url_univ}}">{{x.url_univ}}</a></td>
            <td>{{x.total_sitasi}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script type="text/javascript">
		let table = new DataTable('#mytb');
	
        
</script>
{% endblock %}